.foundLabel{
    font-size: 150%;
}

.foundInput{
    font-size: 200%;
    color: #17a2b8;
    font-style: oblique;
}


.margin-right{
    margin-right: 30px;
}

.bg-primary{
    color: white;
}

.foundInput:active, .foundInput:focus, .foundInput:hover{
    border: 0;
} 

.zero-padding{
    padding: 0;
}

.zero-border{
    border: 0;
}

.side-padding{
    padding-right: 12px;
    padding-left: 12px;
}


#mynetwork {
    height: 500px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
}



th{
    cursor: pointer;
}


th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}
