<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
        <div class="container" id="header">
            <a class="navbar-brand" href="/">Neo4j-App</a>
            <ul class="nav nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/">Найти слово</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/database">База данных</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analysis">Анализ</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
